<div style="padding: 35px; max-width: 600px; min-height: 400px;">
  <table cellpadding="0" align="center"
    style="width: 600px; margin: 0px auto; text-align: left; position: relative; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; font-size: 14px; font-family:微软雅黑, 黑体; line-height: 1.5; box-shadow: rgb(153, 153, 153) 0px 0px 5px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;background:#fff;">
    <tbody>
      <tr>
        <th valign="middle"
          style="height: 25px; line-height: 25px; padding: 15px 35px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #C46200; background-color: #FEA138; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
          <font face="微软雅黑" size="5" style="color: rgb(255, 255, 255); ">小于GPT - 小于同学的个人GPT站点</font>
        </th>
      </tr>
      <tr>
        <td>
          <div style="padding:25px 35px 40px; background-color:#fff;">
            <h2 style="margin: 5px 0px; ">
              <font color="#333333" style="line-height: 20px; ">
                <font style="line-height: 22px; " size="4">亲爱的注册用户：</font>
              </font>
            </h2>
            <p>首先感谢您申请使用小于GPT！ </p>
            <p>如果不是您所为，请无视本邮件，很有可能是他人错误地键入了你的邮件</p>
            <p style="max-width: 300px; word-wrap: break-word;">为了正常使用小于GPT，您需要在 {{url}} 激活您的邮箱。</p>
            <p>验证的有效期在2小时以内，请您尽快激活。</p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>